/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #beab8e;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container */
.container {
    background-color:#e7ddcf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

/* Heading */
h3 {
    color: rgb(54, 34, 9);
    font-size: 24px;
    margin-bottom: 20px;
}

/* Links */
a {
    color: rgb(54, 34, 9);
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  rgb(54, 34, 9)0b9;
}
