<<<<<<< HEAD

=======
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD
    padding-top: 20px; 
    color: white; 
}

h3 {
    color:  rgba(54, 34, 9); 
=======
    padding-top: 20px; /* Add some space at the top */
}

h3 {
    color: rgba(54, 34, 9);
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
    font-size: 24px;
    margin-bottom: 30px;
}

form {
    width: 100%;
    max-width: 420px;
<<<<<<< HEAD
    background-color: rgb(88, 60, 26);
=======
    background-color: rgba(54, 34, 9);
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
    padding: 50px 60px 70px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 18px 15px;
    margin: 10px 0;
<<<<<<< HEAD
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: rgb(88, 49, 49);
    border: 1px solid #5a4848;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: rgb(140, 108, 108); 
}
=======
    background: rgb(218, 215, 215);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #666;
  }
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #6a3d2f;
    background-color: #fff;
}

input[type="submit"] {
<<<<<<< HEAD
    background-color: rgb(122, 106, 106);
    color: rgba(54, 34, 9); 
=======
    background-color: rgb(255, 255, 255);
    color:  rgba(54, 34, 9)
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    background-color: #6a3d2f;
<<<<<<< HEAD
    color: white; 
=======
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
}

input[readonly] {
    background-color: #f1f1f1;
    cursor: not-allowed;
}

form br {
    display: block;
    margin-bottom: 15px;
}

form p {
    text-align: center;
    font-size: 15px;
<<<<<<< HEAD
    color: white;
=======
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
}

form p a {
    text-decoration: none;
<<<<<<< HEAD
    color: white; 
}

=======
    color: rgba(54, 34, 9);
}

/* For larger screens (Desktop) */
>>>>>>> f3f1c22c6fca8a5d102c61bef042ff2f1589453f
@media (min-width: 1024px) {
    form {
        max-width: 500px;
        padding: 60px 70px 80px;
    }

    h3 {
        font-size: 2em;
    }

    input[type="submit"] {
        padding: 14px 50px;
    }

    form p {
        font-size: 16px;
    }
}
