*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:  #beab8e;
    background-position: center;
    background-size: cover;
    position: relative;
}

form .input-field{
    position: relative;
    height: 55px;
    width: 100%;
}

.input-field input{
    height: 100%;
    width: 100%;
    outline: none;
}

.field {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button, .button input {
    display: inline-block;
    width: 100%; 
    border-radius: 25px;
    background-color: rgb(54, 34, 9);
    padding: 15px 0;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.button input{
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3 ease;
    font-family: Arial, Helvetica, sans-serif;
}

.button input:hover{
    background-color: rgb(54, 34, 9);;
}

.invalid .error{
    display: flex;
}

.form-box{
    width: 90%;
    max-width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px 30px 20px;
    text-align: center;
}

.form-box h1{
    margin-bottom: 60px;
    color:  rgb(54, 34, 9);
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:rgb(54, 34, 9);
    position: absolute;
    bottom:  -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: rgb(218, 215, 215);
    margin: 15 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

form p{
    text-align: center;
    font-size: 15px;
}

form p a{
    text-decoration: none;
    color: rgba(54, 34, 9);
}

